.env
/venv
/__pycache__
/.vscode
/cache
/datasets/energy_usage.txt
/datasets/energy_usage.csv
/ml_models
/notebooks/.ipynb_checkpoints
/notebooks/.cache.sqlite
/notebooks/cache
/solar_utils/__pycache__
