body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 45px;
}
.navbar .logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 5px;
}
.nav-links li {
    position: relative;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 10px;
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 10;
}
.dropdown-content li {
    width: 80%;
}
.dropdown-content a {
    padding: 5px 0px;
    display: block;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.nav-links a:hover,
.dropdown-content a:hover {
    color: #c1c1c1;
}
.welcome {
    height: 100vh;
    background: url('images/bg1.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
}
.welcome::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.welcome-content {
    position: relative;
    z-index: 2;
    text-align: center;
}
.welcome h2 {
    font-size: 3em;
    margin-bottom: 20px;
}
.welcome p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.welcome button {
    padding: 10px 20px;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}
.welcome button:hover{
    background-color: #111;
}
.modules {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    gap: 20px;
}
.module {
    text-align: center;
    max-width: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.module:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.module img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}
.module a {
    color: black;
    margin: 10px 0;
    text-decoration: none;
}
.module p {
    font-size: 1em;
    color: #666;
}
footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #000;
    color: #fff;
}
.footer-column h4 {
    margin-bottom: 10px;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin: 5px 0;
}
.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}
.footer-column ul li a:hover{
    color: #c1c1c1;
    text-decoration: none;
}